@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$button-color:  #2A2B2D;
$bootstrap-grey: #E9ECEF;

// body {
//   background-color: white;
// }

body {
  font-family: 'Open Sans', sans-serif;
}

.nav-pills a {
  color: $button-color;
}

.nav-pills a:hover {
  color: black;
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
  color: white;
  background-color: $button-color;
}

.nav-link.active:hover {
  color: black;
  background-color: $bootstrap-grey;
}

.proj-h3 {
  margin-top: .5em;
}

// .logo {
//   max-height: 50px;
// }

.logo-container {
  height: 50px;
  width: 50px;
  margin: 1rem;
}

.big-button {
  margin-top: 1.5rem;
}

/////////////////////////////
/* BOOTSTRAP JUMBOTRON CSS */
/////////////////////////////

/* Space out content a bit */

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
  padding: 1rem; //DC Change
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}